In [5]:
import pandas
data = pandas.read_csv('counts.csv', sep=';')
# sep в предыдущей строке означает, что разделять
# значения в файле с данными будем по точке с запятой,
# поскольку по умолчанию подразумевается просто запятая

In [4]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
data.count()

id             70000
age            70000
gender         70000
height         70000
weight         70000
ap_hi          70000
ap_lo          70000
cholesterol    70000
gluc           70000
smoke          70000
alco           70000
active         70000
cardio         70000
dtype: int64

In [7]:
data['cardio'].count() # посчитаем количество записей в столбце cardio

70000

In [8]:
data.count()['cardio'] # подсчитаем количество записей во всех столбцах и выберем значение,
                       # соответствующее столбцу cardio

70000

In [12]:
data['cardio'].value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

In [10]:
data['cardio'].value_counts()[0] # 0 - это не порядковый номер, а значение признака

35021

In [16]:
# также можем использовать переменные, чтобы не пересчитывать значения по 10 раз
vals = data['cardio'].value_counts()
vals.keys

<bound method Series.keys of 0    35021
1    34979
Name: cardio, dtype: int64>

In [17]:
vals.values

array([35021, 34979])

In [19]:
vals[0], vals[1]

(35021, 34979)